<?xml version="1.0" encoding="utf-8"?>
<UseItemForAura>
  <!--=======================================================================
.CONFIG  -  This is the Config File For Use Item for Aura - Questhelper

XML file containing settings to customize in the Use Item for Aura - Questhelper Plugin
It is STRONGLY recommended you use the Configuration UI to change this
file instead of direct changein it here.
========================================================================-->
  <QuestID>0</QuestID>
  <ItemID>58165</ItemID>
  <AuraID>79561</AuraID>
  <Combat>True</Combat>
</UseItemForAura>